@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <h1>ViewBag.Message</h1>
    <p>
        Please check your email to reset your password.
    </p>
</div>
	
